.News-Headline-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 125px;
  padding: 0;
}

.News-Headline-Container {
  text-align: center;
  /* margin-top: 2em; */
  overflow-y: scroll;
}

.Button-Page-List {
  display: flex;
  justify-content: center;
}
