.News-Headline-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 125px;
  padding: 0;
}

.News-Headline-Container {
  text-align: center;
  /* margin-top: 2em; */
  overflow-y: scroll;
}

.Article-Image {
  width: 275px;
  height: 165px;
}

.ui.card {
  margin-bottom: 2em !important;
  display: flex;
  flex-direction: column;
}

a.header {
  line-height: 1.5em;
  height: 4em;
  overflow: hidden;
  padding: 0 20px;
}

.Button-Page-List {
  display: flex;
  justify-content: center;
}
