.Information-Container {
  display: flex;
  align-items: center;
  height: 100vh;
  /* margin-top: -100px; */
  background-image: linear-gradient(black, red);
  padding: 2em;
}

.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.Information h2 {
  font-size: 3em;
  text-align: center;
}

.Information-ActiveFires {
  display: flex;
  justify-content: center;
  font-size: 6em;
  margin: 1em;
}
