.Navbar {
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.Navbar-Logo {
  color: white;
  font-size: 28px;
}

.Navbar-Logo-Link {
  display: flex;
  align-items: center;
}

.Navbar-Logo-Link img {
  height: 4em;
  margin: 0 1em;
}

.Navbar-Menu {
  display: flex;
  list-style-type: none;
}

.Navbar-Menu-ListItem {
  margin: 0.3rem;
  padding: 0.5rem;
}

.Navbar-Menu-ListItem-Link {
  margin: 0 5rem;
  color: white !important;
}
