.Section {
  /* Would love to see if we can look into a way
    to stop the image from resizing desktop size changes */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1.Section-Title {
  /* Just styling like this for now to avoid it getting stuck behind the logo link */
  text-align:center;
  padding-top: 8%;
}
